<!-- ======= Team Section ======= -->
<section id="applications" class="team">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Applications</h2>
      <p>Why Choose Us?</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <img src="img/applications/TennisCourt.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Tennis Court</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="img/applications/Highway.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Highway</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="img/applications/ParkingLot.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Parking Lot</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="img/applications/Port.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Port</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="img/applications/SwimmingPool.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Swimming Pool</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="img/applications/SkateboardPark.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Skateboard Park</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="img/applications/Billboard.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Billboard</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="img/applications/Warehouse.png" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Warehouse</h4>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->